li[class] {
    font-size: 200%;
  }
  
  li[class="a"] {
    background-color: yellow;
  }
  
  li[class~="a"] { /*Age em elementos 'li' cujo atributo 'class' seja uma lista de valores que contenha o valor 'a'*/
    color: red;
  }