li[class] {
  font-size: 200%;
}

li[class="a"] {
  background-color: yellow;
}

/*Age em elementos 'li' cujo atributo 'class' seja uma lista de valores que contenha o valor 'a'*/
li[class~="a"] {
  color: red;
}