li[class^="a"] { /*Age em elementos 'li' cujo atributo 'class' comece com o caracter 'a'*/
  font-size: 200%;
}

li[class$="a"] { /*Age em elementos 'li' cujo atributo 'class' termine com o caracter 'a'*/
  background-color: yellow;
}

li[class*="a"] { /*Age em elementos 'li' cujo atributo 'class' contenha o caracter 'a'*/
  color: red;
}