* {
  border: 2px solid black;
}
.box {
  width: 200px;
}
.minibox {
  width: 50px;
}
.width {
  /* Deixa a imagem do tamanho da caixa */
  width: 100%;
}
.max {
  /* Não permite que a imagem cresca indefinidamente, evitando pixelation */
  max-width: 100%;
}