.wrapper {
    background-image: url(images/star.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}

.a {
    background-image: url(images/balloons.jpg);
    background-color: black;
    height: 100px;
}

.b {
    background-image: url(images/star.png);
    background-color: black;
}

.c {
    background-image: url(images/balloons.jpg);
    background-repeat: repeat;
    background-size: contain;
}

